# Arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db

# Dependências Node.js
/node_modules

# Arquivos de ambiente
.env

# Arquivos de build
/build
/dist

# Outros
npm-debug.log*
yarn-debug.log*
yarn-error.log*
